html {

}
* {
    cursor: url('../images/buttonmouse5.png'), default;
    -webkit-user-select: none;
}
*:active {
    cursor: url('../images/buttonmouse_click3.png'), default;
    -webkit-user-select: none;
}

.abs:hover, #eye-hover:hover, #ear-hover:hover, #head-hover:hover {
    cursor: url('../images/buttonmouse_click2.png'), default;
}

.blooming-menu__container:hover {
    cursor: url('../images/buttonmouse_click2.png'), default !important;
}

body {
    width: 100%;
    position:relative; /* THIS LINE */
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#scroll-absolute {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    left: 0;
    top: 0;
}

#scroll-contain {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#scroll {
    position: absolute;
}

// .row-contain {
//     position: relative;
//     float: left;
//     clear: both;
// }

#page-contain {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: transparent;
    transition: all 1s ease;
    white-space: nowrap;
}

.img-contain {
    width: 100%;
    height: 1730px;
    overflow: hidden;
    position: relative;
    background: transparent;
    transition: all 1s ease;
    white-space: nowrap;
}

.row-contain {
    width: 100%;
    height: 1730px;
    overflow: hidden;
    position: relative;
    background: transparent;
    transition: all 1s ease;
    white-space: nowrap;
    clear: both;
}

.scale {
    transform: scale(0.5);
    transition: all 1s ease;
    width: auto;
    height: auto;
}

.imgs {
    margin-left: -10px;
}

.show-bloom {
    opacity: 0 !important;
}

.abs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: transparent;
    opacity: 0;
    height: 24px;
    width: 60px;
    padding-left: 8px;
    padding-top: 6px;
    margin-top: 330px;
    margin-left: 50px;
    transition: all 1.5s ease;

}

.absR {
    position: absolute;
    right: 0;
    margin-left: 92.5%;
}

.scale-ui {
    transform: scale(0.5);
    transition: all 1s ease;
    width: auto;
    height: auto;
    background-color: #7c7970 !important;
    opacity: 1;
    margin-left: 270px;
}

.scale-ui2 {
    transform: scale(0.5);
    transition: all 1s ease;
    width: 50px;
    height: auto;
    background-color: #7c7970 !important;
    position: right;
    opacity: 1;
    margin-left: 77.5%;
}

.scale-ui:hover {
    background-color: #444 !important;
}

.inner-block {
    width: 53px;
    height: 18px;
    background-color: #444;
    transition: all .25s ease;
}

.opacity {
    opacity: 0;
}

.visor {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 65px;
    height: 30px;
    background-color: white;
    opacity: 0;
    transition: all 1s ease;
}

.lighter {
    background-color: white !important;
}

.blooming-menu__item-btn {
    background-color: transparent;
}

#info-table {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 370px;
    margin-top: -70px;
    width: 66%;
    z-index: 4;
    opacity: 0;
    transition: all 1.5s ease;
    font-size: 26px;
    color: white;
    font-family: 'Delicious', sans-serif;
}

#descript {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 370px;
    margin-bottom: -70px;
    width: 66%;
    z-index: 4;
    opacity: 0;
    transition: all 1.5s ease;
    font-size: 26px;
    color: white;
    font-family: 'Delicious', sans-serif;
}

@font-face { font-family: 'Delicious'; src: url('../css/fonts/littleboxes2.ttf'); }

#dark {
    opacity: 1;
}

.bottom-info {
    text-align: left;
    width: 350px;
    overflow: hidden;
}

th, td {
    text-align: left;
    width: 150px;
    overflow: hidden;
}

#uncover2 {
    margin-top: 430px;
}

#uncover3 {
    margin-top: 530px;
}

#uncover4 {
    margin-top: 630px;
}

#uncover5 {
    margin-top: 230px;
}

#uncover6 {
    margin-top: 130px;
}

.backgrounds {
    display: inline-block;
    overflow: hidden;
    transition: all 1s ease;
    transition: transform 1s ease;
}

.top-row {
    display: inline-block;
    overflow: hidden;
    transition: all 1s ease;
    transition: transform 1s ease;
}


#img {
    display: inline-block;
    overflow: hidden;
    transition: all 1s ease;
}

// #img-masc {
//     filter: contrast(50%);
//     opacity: 0;
//     transition: all 4s ease;
// }

#twins {
    display: inline-block;
    overflow: hidden;
    transition: all 1s ease;
    transition: transform 1s ease;
}

#face2 {
    display: inline-block;
    transition: all 1s ease;
    transition: transform 1s ease;
}

#sculpt {
    display: inline-block;
    overflow: hidden;
    transition: all 1s ease;
    transition: transform 1s ease;
}

#output {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 35px;
    z-index: 2;
}

#status {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 400px;
    font-size: 35px;
    z-index: 2;
}

#div {
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    margin-left: -50px;
    margin-top: -50px;
}

#glow {
    opacity: 1;
    width: 1px;
    height: 1px;
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
    transition: all .5s ease;
    box-shadow: 0px 0px 0px 0px white;
    z-index: 3;
}

#about-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, .05);
    border: 5px solid white;
    // pointer-events: none;
    margin-left: 850px;
    margin-top: 600px;
    opacity: 0;
    z-index: 7;
    transition: all 1s ease;
}

#near-sight-text {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    margin-left: 18px;
    margin-top: 40px;
    opacity: 0;
    transition: all .5s ease;
    font-family: 'Orbitron', sans-serif;
}

#about-text-holder {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    pointer-events: none;
    margin-left: 750px;
    margin-top: 900px;
    z-index: 5;
    transition: all 2.5s ease;
}

.about-text {
    text-align: center;
    line-height: 30px;
    // font-family: 'Bungee Hairline', cursive;
    font-family: 'Orbitron', sans-serif;
    color: rgba(125, 125, 125, 1);
}

#bio-text {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1540px;
    margin-top: 455px;
    opacity: 1;
    z-index: 7;
    transition: all 1s ease;
    pointer-events: none;
    overflow: hidden;
}

.p-contain {
    position: relative;
    margin-top: 20px;
    height: 30px;
    width: 1500px;
    overflow: hidden;
    z-index: 7;
    transition: all 1s ease;
    pointer-events: none;
}

.lead {
    color: rgba(0, 0, 0, .5);
    // color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    height: 30px;
    opacity: 0;
    overflow-x: hidden;
    margin-bottom: 0px;
    padding-top: 15px;
    transition: all .5s ease;
    text-align: center;
    overflow: hidden;
}

#return-button {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 665px;
    margin-top:650px;
    transition: all 1s ease;
    z-index: 12;
    transform: scale(0.5);
    background: url(../images/headimg.png);
    border: 1px solid white;
    filter: invert(100%);
    opacity: 0;
}

.raise-lines {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 1750px;
    margin-top: 1200px;
    height: 100px;
    width: 1000px;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    transition: all 2.5s ease;
    z-index: 5;
}

#mouth-sphere {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid white;
    // pointer-events: none;
    margin-left: 490px;
    margin-top: 640px;
    z-index: 8;
    transition: all 1s ease;
}

#img2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: all 2s ease;
}


#img-oil {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: all 2s ease;
}


#dark-half {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    // transition: all 2s ease;
    transition: all .3s ease;
}

#img3 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
}

#img4 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
}
#img5 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
}

#img6 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: all 1s ease;
    filter: brightness(1.5);
}

#earglow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
}
#earglow2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
}

#earglow3 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
}

#chaneysegura {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    height: 65px;
    width: 400px;
    margin-left: 600px;
    // new man margin
    // margin-left: 730px;
    margin-bottom: 345px;
    font-size: 65px;
    color: #af7c74;
    // font-family: 'Dorsa', sans-serif;
    letter-spacing: 50px;

    font-family: 'Megrim', cursive;
    transition: all 2s ease-in;
    transform: scale(1, 0);
    filter: brightness(1.1);
    // transform: rotate(-1deg);
    // transform: translateY(-3deg);
}

#cv {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    transition: all .3s ease;
}

#name-cover {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    opacity: 1;
    height: 100px;
    width: 400px;
    background-color: white;
    margin-left: 650px;
    margin-bottom: -679px;
    transition: all 1.5s ease;
}

#eye-circle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    opacity: 1;
    margin-left: 87px;
    margin-top: 84.5px;
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all .5s ease;
    font-family: 'Bungee Hairline', cursive;
}

#eye-hover {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 835px;
    margin-top: 550px;
    border-radius: 50%;
    // border: 1px solid white;
    width: 200px;
    height: 200px;
    // opacity: 1;
    transition: all .5s ease;
    z-index: 11;
}

#look {
    margin-top: 35px;
    margin-left: -8px;
    color: white;
    transition: all .5s ease;
    opacity: 1;
}

#ear-hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    opacity: 0;
    margin-left: 830px;
    margin-top: 600px;
    border: 3px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: all .9s ease;
}

#ear-drop {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid white;
    pointer-events: none;
    margin-left: 1345px;
    margin-top: 680px;
    z-index: 8;
    transition: all 1s ease;
}

#ear-text {
    color: #555;
    opacity: 1;
    font-family: 'Orbitron', sans-serif;
    margin-left: -50px;
    margin-top: -15px;
    font-size: 4px;
    transition: all .5s ease;
}

#audio-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    pointer-events: none;
    margin-left: 1345px;
    margin-top: 940px;
    z-index: 8;
    transition: all 1s ease;
}

#hear {
    opacity: 0;
    margin-top: 22px;
    margin-left: 65px;
    color: white;
    font-size: 18px;
    transition: font-size 1.5s ease, opacity .5s ease;
    font-family: 'Bungee Hairline', cursive;
}

#head-hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    opacity: 0;
    margin-left: 830px;
    margin-top: 600px;
    border: 1px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: none;
    transition: all .9s ease;
}

#z {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    opacity: 1;
    font-size: 36px;
    margin-top: 30px;
    margin-left: 38px;
    color: white;
    transition: all .5s ease;
    font-family: 'Bungee Hairline', cursive;
}

.middle-block {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    width: 24%;
    min-height: 100%;
    margin-left: 38%;
    border: 1px solid black;
    transition: all 1s ease;
}
.top-index {
    z-index: 7;
}

#tattooCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    opacity: 1;
    transition: all 1s ease;
}

#ring-holder {
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#ring {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid white;
}

#ring:before,
#ring:after, span {
  content: '';
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  border-radius: 50%;
  animation: glow-grow 2s ease-out infinite;
}

#ring:after {
  animation-delay: .66s;
}
span{
  animation-delay: 1.33s;
  }
@keyframes glow-grow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

#grid {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 700px;
    margin-top: 1100px;
    opacity: .5;
}

#bloom-contain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    margin-left: 700px;
    margin-top: 350px;
    z-index: 8;
    border-radius: 50%;
    border: 1px solid white;
}

.blooming-menu__container {
    z-index: 8 !important;
}

.blooming-menu__main {
    background-color: transparent !important;
}

.blooming-menu__item-btn-wrapper {

    background-color: transparent !important;
    // border: 1px solid white !important;
}

.o {
    overflow: hidden;
    padding: 5%;
    position: relative;
    background-color: transparent;
    top: 0;
    left: 0;
    margin-left: 1300px;
    margin-top: 1300px;
    z-index: 100;
}

.o:before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform: rotate(45deg);
    background: url(../images/beach2.jpg);
    content: '';
}

.outter:before,
.outter:after,
.inner:before,
.inner { border-color: #179 }

.outter {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1300px;
  margin-top: 1300px;
  width: 75px;
  height: 75px;
  overflow: hidden;
  z-index: 1;
}

.outter:before,
.outter:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 2px;
  height: 33px;
  margin-top: -15px;
  z-index: 1;
}

.outter:after {
  left: auto;
  right: 0;
  margin-top: -16px;
  height: 35px;
}

.inner {
  position: absolute;
  top: 0px;
  width: 75px;
  height: 75px;
  background: url(../images/beach2.jpg);
  background-position: 0px 0px;
  border-style: solid;
  -webkit-transform: rotate(45deg);
}

.inner:before,
.inner:after {
  -webkit-transform: rotate(45deg);
  content: "";
  position: absolute;
  width: 2px;
  height: 32px;
  margin-top: -15px;
  z-index: 1;
  right: auto;
  left: 9.5px;
  bottom: auto;
  top: 9.5px;
}

.inner:after {
  height: 34px;
  right: 10px;
  left: auto;
  bottom: -5px;
  top: auto;
}

.innerCirc {
    pointer-events: none;
    z-index: 10;
    // background-color: rgba(0, 0, 0, .5);
}

.outerCirc {
    pointer-events: none;
    // background-color: rgba(0, 0, 0, .5);
    z-index: 10;
}

.mask-holder {
    position: absolute;
    top: 0;
    left: 0;
}

clip-svg {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1300px;
    margin-top: 1300px;
    width: 75px;
    height: 75px;
    overflow: hidden;
	}

#glow-contain {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1300px;
    margin-top: 1300px;
    width: 400px;
    height: 200px;
    border: 1px solid white;
    z-index: 1;
}

#glow1, #glow2, #glow3 {
    margin-left: 150px;
    margin-top: 50px;
    width: 1px;
    height: 1px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px rgb(241, 255, 173);
    opacity: 0;
}

#glow2 {
    margin-left: 250px;
}
#glow3 {
    margin-left: 90px;
    margin-top: 75px;
}

#mask-img {
    position: absolute;
}

#pixel-img {
    margin-top: 1000px;
}

#ThreeJS {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px;
    margin-left: 685px;
    margin-top: 675px;
    z-index: 5;
}
